body{
    background-color: black;
    height: 100%;
}
.mainBox{
    width: 90%;
    height: 300px;
    background-color: blueviolet;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
